.section-hero {
    background-image: var(--background-hero-desktop);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    overflow: hidden;
    transform-origin: top;
}

.section-hero .intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(1, 27, 51);
}

.hero {
    padding: 15.3rem 0;
    position: relative;
}

.hero__content {
    position: relative;
    z-index: 2;
}

.hero__text-box {    
    max-width: 45%;    
    position: relative;
    z-index: 2;
}


.hero__description {
    color: #fff;
    margin-left: 9.5rem;   
}

.hero__btn {
    margin-left: 9.5rem;
}

svg.hero__line {
    position: absolute;
    z-index: 2;
    top: 34.7rem;   
    stroke: 20px;
    left: 0;
    width: var(--line-width);
    background-color: var(--color-yellow);
}


.hero__right-arrow {
    position: absolute;
    z-index: 2;
    top: 34.7rem;
    left: var(--hero-arrow-x-offset);
}

.hero__circles {
    position: absolute;
    right: 0;
    bottom: 16.5rem;
    transform: translateX(4.8rem);
}


@media only screen and (max-width: 1250px) {
    .hero__text-box {
        max-width: 80%;
    }

    .hero__description {
        max-width: 45%;
    }
        
    .hero__circles {
        bottom: 4.5rem;
    }
}

@media only screen and (max-width: 980px) {
    .hero__text-box {
        max-width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .section-hero {
        background-image: var(--background-hero-tablet);   
        background-size: cover;
        background-position: center;
        margin-bottom: 12rem;
    }

    .hero {
        padding: 13.7rem 0 21.7rem;
        text-align: center;
    }
    
    .hero__text-box {
        max-width: 100%;
        margin-bottom: 3.2rem;
    }

    .hero__text-box h1 {
        margin-bottom: 2.4rem;
    }

    svg.hero__line {
        display: none;
    }
    
    .hero__content {
        text-align: center;
    }

    .hero__description {
        max-width: 85%;
        margin: 0 auto;
    }

    .hero__btn {
        margin: 0 auto;
    }

    .hero__circles {
        bottom: 4.5rem;
        transform: translateX(3.5rem);
    }

    .hero__right-arrow {
        top: auto;
        bottom: 4rem;
        right: 58vw;
        left: auto;
    }
} 

@media only screen and (max-width: 720px) {
    
    .hero {
        padding: 23.3rem 0 21.7rem;       
    }
}

@media only screen and (max-width: 450px) {       
    .section-hero {
        background-image: var(--background-hero-mobile);       
        
    }

    .hero {
        padding: 21.1rem 3.2rem 18rem;
    }   

    .hero__content.container {
        margin: 0;
    }

    .hero__description {
        max-width: 100%;
    }

    .hero__text-box {
        max-width: 100%;
    }

    .hero__circles {
        display: none;
    }
}