.section-cta{
    background-color: var(--color-dark-navy); 
    position: relative;
    overflow: hidden;
}

.cta {
    display: flex;
    padding: 10rem 0;
    align-items: center;
}

.cta--left {
    flex: 1;
    padding-right: 20rem;
}

.cta--right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cta__link {
    cursor: pointer;
    z-index: 10;
}

.cta__link:first-child {
    margin-right: 1.8rem;
}

.cta__icon {
    display: block;
}

.color-white {
    color: white;
}

.color-white::selection {
    color: var(--color-dark-navy);
}

.cta__background-image {
    position: absolute;
    opacity: 0.1;
    right: 0;
    bottom: 0;
    transform: scale(5) translate(-25%, 10%);
}

@media only screen and (max-width: 1020px) {
    .cta--left {
        flex: 2;
    }

    
    .cta--right {
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
    }

        
    .cta__link:first-child {
        margin-right: 0;
    }
}

@media only screen and (max-width: 768px)  {
    .cta {
        flex-direction: column;
        padding: 6.2rem 11.5rem;
    }

    

    .cta__link:first-child {
        margin-right: 1.8rem;
    }
        
    .cta--left {
        text-align: center;
        padding-right: 0;
        margin-bottom: 4rem;
    }

    .cta--right {
        flex-direction: row;
        justify-content: center;
        gap: 0;
    }
}


@media only screen and (max-width: 722px) {
    .cta {        
        padding: 6.2rem 4.5rem;
    }
}

@media only screen and (max-width: 580px) {
    .cta {        
        padding: 6.2rem 0rem;
    }
}


@media only screen and (max-width: 450px) {
    .cta {
        padding: 8.8rem 0;
    }

    .cta--right {
        flex-direction: row;
        gap: 0;
    }
    
    .cta__link:first-child {
        margin-right: 0;        
    }

    .cta__link {
        margin-right: 0;   
    }

    .cta__link:first-child {
        width: 113px;
        margin-right: 13px;
    }

    .cta__link:last-child {
        width: 130px;
    }
    
    .cta__icon {
        width: 100%;
        margin-right: 0;
    }
}
