.section-jobs{

}

.jobs {

}

.jobs__list {
    
}

.jobs__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 6.4rem 3.2rem 4rem;
}

.jobs__item:last-child {
    margin-bottom: 0;
}

.jobs__item--left .paragraph{
    color: var(--color-dark-navy);
}

.jobs__item--left h4 {
    margin-bottom: 0.8rem;
}

.jobs__item--right {

}