.section-jobs{

}

.jobs {

}

.jobs__list {
    
}

.jobs__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 6.4rem 3.2rem 4rem;
}

.jobs__item:last-child {
    margin-bottom: 0;
}

.jobs__item--left .paragraph{
    color: var(--color-dark-navy);
}

.jobs__item--left h4 {
    margin-bottom: 0.8rem;
}

.jobs__item--right {

}

@media only screen and (max-width: 768px) {
    .section-jobs {
        margin-bottom: 12rem;
    }

    .jobs__item {
        padding: 3.4rem 4.8rem;
    }

    .jobs__item:not(:last-child) {
        margin-bottom: 1.6rem;
    }
    
}

@media only screen and (max-width: 650px) {
    .jobs__item {
        flex-direction: column;
        padding: 3.6rem 3.2rem 3.2rem;
        margin-bottom: 1.6rem;
    }

    .jobs__item--left {
        text-align: center;
        margin-bottom: 1.6rem;
    }

    .jobs__item--right {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .jobs__item--right .button {
        width: 24.7rem;
        height: 5.3rem;
    }
}