.section-contact {

}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact p {
    flex: 1;
    margin: 0 10rem 0 3rem;
}

.contact h2{
    width: 30%;
}


