.section-faqs {

}

.faqs h2{
    text-align: center;
}

.faqs__container {
    display: flex;
    flex-direction: row;
}

.faqs__title {
    flex: 1;
}

.faqs__questions {
    width: 68%;
}

.faqs__content:not(:last-child) {
    margin-bottom: 1.6rem;
}

.faqs__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 3.2rem 4rem;
    transition: all 0.2s ease;
}

.faqs__question h4 {
    margin-right: 2.5rem;
}

.faqs__question:hover {
    background-color: var(--color-light-yellow);
}

.faqs__icon {
    display: block;
}

.faqs__icon.show {
    transform: rotate(180deg);
}

.faqs__answer {
    padding: 0 4rem 0rem;
    transition: all 0.3s ease;
}

.faqs__answer .paragraph {
    color: var(--color-dark-navy);    
    overflow: hidden;    
    max-height: 0;
    transition: all 0.2s ease;
}

.faqs__answer.show .paragraph{
    max-height: 300px;    
    transition: all 0.3s ease-in-out;
}

.faqs__answer.show {
    padding: 1rem 4rem 3.2rem;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .section-faqs {
        margin-bottom: 12rem;
    }
        
    .faqs__container {        
        flex-direction: column;
        align-items: flex-start;
    }

    .faqs__title {
        margin: auto;
        margin-bottom: 3.2rem;
    }

    .faqs__questions {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .faqs__question h4 {
        font-size: 1.8rem;
        line-height: 2.4rem;
        letter-spacing: -0.8px;
    }
        
    .faqs h2{
        margin-bottom: 4.8rem;
    }
        
    .faqs__container {
        margin-bottom: 4.8rem;
    }
}