.section-features {
    position: relative;
}

.section-features::before {
    content: "";
    display: block;
    height: 1.5rem;
    width: 65%;
    background-color: var(--color-light-grey);
    position: absolute;
    z-index: -1;
    top: 4.8rem;
    transform: translateY(-50%);
}

.features {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

@media only screen and (max-width: 950px) {
    .section-features::before {        
        top: 5.4rem;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 768px) {
    .section-features {
        padding: 0 5.8rem;
        margin-bottom: 14.5rem;
    }

    .section-features::before {
        height: 59rem;
        width: 1.5rem;
        top: 0;
        left: 14.6rem;
        transform: translateX(-50%) translateY(-16rem);
    }

    .features {
        flex-direction: column;
    }

    .features__card {
        display: flex;
        gap: 10.5vw;
    }

    .features__card:not(:last-child) {
        margin-bottom: 1rem;
    }

    .features__card img {
        display: block;
        width: 9.6rem;
        height: 9.6rem;
        margin-bottom: 0;
    }

}

@media only screen and (max-width: 525px) {
    .section-features::before {
        height: 68rem;
    }
}

@media only screen and (max-width: 450px) {
    .section-features {
        padding: 0;
        margin-bottom: 12rem;
    }
        
    .features {
        gap: 4.8rem;
    }
        
    .features__card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2.4rem;
    }

    .features__card:not(:last-child) {
        margin-bottom: 0;
    }
    
    .features__card img {
        width: 5.6rem;
        height: 5.6rem;
    }

    .features__card h4 {
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: -0.89;
    }

    .section-features::before {
        display: none;
    }
}