.heading--h1 {
  font-size: 5.6rem;
  line-height: 5.6rem;
  letter-spacing: -2.5px;
}

.heading--h2 {
  font-size: 4.8rem;
  line-height: 4.8rem;
  letter-spacing: -2.14px;
}

.heading--h3 {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -1.79px;
}

.heading--h4 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -1.07px;
}

.heading--h1,
.heading--h2,
.heading--h3,
.heading--h4,
.paragraph {
  color: var(--color-dark-navy);
}

.paragraph {
  font-family: var(--font-sub);
  font-size: 1.5rem;
  line-height: 2.5rem;
}